{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
<h2 class="text-center mt-4 mb-3">User Registration</h2>
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
    <label class="form-label">Username</label>
    <input type="text" class="form-control" name="u" placeholder="Enter the username">
    </div>
<div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" name="p" placeholder="Enter the password">
    </div>
    <div class="mb-3">
    <label class="form-label">Confirm Password</label>
    <input type="password" class="form-control" name="c" placeholder="Enter the confirm password">
    </div>
<div class="mb-3">
    <label class="form-label">First Name</label>
    <input type="text" class="form-control" name="f" placeholder="Enter the firstname">
    </div>
<div class="mb-3">
    <label class="form-label">Last Name</label>
    <input type="text" class="form-control" name="l" placeholder="Enter the lastname">
    </div>
<div class="mb-3">
    <label class="form-label">Email</label>
    <input type="email" class="form-control" name="e" placeholder="Enter the email">
    </div>
    <div class="mb-3">
    <label class="form-label">Address</label>
    <input type="text" class="form-control" name="a" placeholder="Enter the address">
    </div>
    <div class="mb-3">
    <label class="form-label">Phone</label>
    <input type="number" class="form-control" name="n" placeholder="Enter the phone">
    </div>
<div class="mb-3 text-center">
    <input type="submit" value="SUBMIT" class="btn-primary">
    </div>
</form>
    </div>

{% endblock %}